#addList {
  background-color: #ff8f00;
  cursor: pointer;
}

#addList:hover {
  background-color: #D67800;
}

.bucket {
  background-color: #ff8f00;
}

.bucket:hover {
  background-color: #f57c00;
}

.delete-bucket:hover {
  color: white;
}

.delete-bucket {
  color: #ffe0b2;
}

.delete-icon:hover,
.deleteList:hover {
  cursor: pointer;
  font-weight: 600;
}

#addBucketCard {
  background-color: #e0e0e0;
  color: #9e9e9e;
}

#addBucketCard:hover {
  cursor: pointer;
  background-color: #bdbdbd;
  color: #616161;
}
